		/* http://meyerweb.com/eric/tools/css/reset/ 
		   v2.0 | 20110126
		   License: none (public domain)
		*/
		
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}



		/*page stuff*/
		#gameOn #game, #gameOn{
			height: 100%;
			background-color: #bfd1e5;
		}
		
		.off {
			display: none !important;
		}
		
		
		body {
			background-color: #fbfbfb;
			color: #444;
		}
		
		h1 {
			text-align: center;
			margin-top: 60px;
			font-size: 43px;
			padding-bottom: 12px;
		}
		p {
			font-size: 18px;
		}
		#view {
			text-align: center;
		}
		#view .discl {
			padding-top: 4px;
			font-size: 12px;
		}
		
		.method {
			cursor: pointer;
			width: 26%;
			float: left;
			margin: 3%;
			background-color: #ddd;
			position: relative;
			
			border: 1px solid #999;
			padding: 10px;
			min-height: 100px;
			
			color: #222;
			
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			
			
			-moz-box-sizing: border-box;
			  -webkit-box-sizing: border-box;
			  box-sizing: border-box;
			  
			  opacity: 0.4;
			  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
			 filter: alpha(opacity=40);
			
		}
		.method.pickable {
			opacity: 1;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
		}
		.method h3 {
			text-align: center;
			font-weight: bold;
			padding-bottom: 12px;
		}
		.method p {
			text-align: left;
			font-size: 15px;
			line-height: 1.1;
			text-indent: 1em;
		}
		.method img {
			width: 100%;
			padding-bottom: 12px;
		}
		
		 @media screen and (max-width: 960px){
		 	.method {
		 		padding: 5px;
		 		width: 26%;
		 		margin: 3%;
		 	}
		 	.method p {
		 		font-size: 14px;
		 	}
		 }
		
		 @media screen and (max-width: 600px){
		 	.method {
		 		padding: 5px;
		 		width: 40%;
		 		margin: 2%;
		 	}
		 	.method p {
		 		font-size: 14px;
		 	}
		 }
		
		
		
		/* Touch joysticks */
		canvas {
			position: absolute;
			display: block;
		}
		
		.joysticks {
			width: auto;
			position: absolute;
			top:0;
			left:0;
			z-index: 99;
		}
		
		
		
		/* Canvas order */
		#movement {
			z-index: 3;
		}
		#pitch {
			z-index: 1;
		}
		
		
		
		
		/* SVG Renderer */

		.field {
			fill: #6ac06e;
		}
	
		line {
			stroke: white;
			shape-rendering: crispEdges;
		}
		
		.mid {
			stroke-width: 1.3;
		}
		.center {
			fill: #6ac06e;
			stroke: white;
			stroke-width: 1;
		}
		
		.zoneLine {
			stroke-dasharray: 10 5;
			stroke-width: 1;
			opacity: 0.9;
		}
		.zone {
			fill-opacity: 0.15;
		}
		
		.goal {
			stroke-width: 1;
			opacity: 0.7;
		}
		
		.start {
			stroke-width: 1.1;
			stroke-dasharray: 4 2;
			opacity: 0.2;
		}
		
		.bludger {
			fill: black;
		}
		
		.quaffle {
			fill: white;
			stroke: black;
			stroke-width: 1;
		}
		
		.snitch {
			fill: gold;
		}
		
		.hoop {
			fill: none;
			stroke: black;
			stroke-width: 1;
		}
		
		.team0, .team0.controlled, .team0.me {
			fill: red;
		}
		.team1, .team1.controlled, .team1.me {
			fill: blue;
		}
		
		.player {
			stroke-width: 1;
			stroke-dasharray: 3 2;
			fill: rgba(80,80,80,0.5);
		}
		.player.controlled, .player.me {
			stroke-dasharray: 0 0;
		}
		.beater {
			stroke: black;
		}
		.chaser {
			stroke: white;
		}
		.keeper {
			stroke: #00ff00;
		}
		.seeker {
			stroke: gold;
		}
		
		.out {
			fill-opacity: 0.2;
		}
		.flash {
			fill-opacity: 0;
		}